/* COLORS */

$primaryMain: #2e74ff;
$primaryVariant: #a1bfff;

$secondaryMain: #00002b;
$secondaryVariant: #70708b;

$white: #fff;
$gray: #f8f8f8;

$error: #ff3333;
$success: #418f36;

/* FONTS */
$fontTitles: "Russo One";
$fontText: "Inter";
